<!-- Comments Form -->
<div class="card my-4">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
    <form [formGroup]="addCommentForm" (ngSubmit)="addComment()">
      <div class="form-group">
        <label for="name">Enter your email</label>
        <input class="form-control" type="text" name="name" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && formControls.name.errors }">
        <div *ngIf="submitted && formControls.name.invalid" class="invalid-feedback">
          <div *ngIf="formControls.name.errors.required">Required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" type="email" name="email" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }">
        <div *ngIf="submitted && formControls.email.invalid" class="invalid-feedback">
          <div *ngIf="formControls.email.errors.required">Required
          </div>
          <div *ngIf="formControls.email.errors.email">Not valid email</div>
        </div>
      </div>
      <div class="form-group">
        <label for="body">Text</label>
        <textarea class="form-control" rows="5" formControlName="body"
          [ngClass]="{ 'is-invalid': submitted && formControls.body.errors }">
          </textarea>
        <div *ngIf="submitted && formControls.body.invalid" class="invalid-feedback">
          <div *ngIf="formControls.body.errors.required">Required
          </div>
        </div>
      </div>
      <button class="btn btn-success" type="submit" id="t-add-comment">Save</button>
      <button class="btn btn-cancel" type="reset" (click)="cancel()">
        Reset</button>
    </form>
  </div>
</div>